:root {
    --blue: #1b66c9;
    --blue-hover: #207ef8;
    --pinky: #FF86AB;
    --grey: rgba(0, 0, 0, 0.87);
    --sans: 'Inter', sans-serif;
    --mono: 'Space Mono', monospace;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding-bottom: 7.875rem;
    margin: 0;
    font-family: var(--sans);
    line-height: 2;
    position: relative;
    min-height: 100vh;
}

h1,
h2,
h3 {
    margin: 0;
}

.head-content {
    margin: 2rem 0;
    color: var(--blue);
}

nav,
#intro,
#projects,
#contact {
    width: 85%;
    margin: 0 auto;
}

/* NAVIGATION BAR */
header {
    min-height: 3.75rem;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
    font-size: 1.2rem;
}

nav li a {
    font-family: var(--sans);
    display: block;
    text-decoration: none;
    color: var(--grey);
}

nav h1 a {
    font-family: var(--sans);
    color: var(--black);
    font-weight: 700;
}

nav h1 a:hover {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* INTRO */
#intro #img-container {
    width: 100%;
    height: auto;
    text-align: center;
}

#intro img {
    width: 55%;
    height: auto;
}

#intro .name {
    font-size: 2rem;
}

#intro .name span {
    color: var(--blue);
}

/* Projects */


/* ABOUT */
article {
    width: 85%;
    margin: 2rem auto;
}

article img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
}

article h2 {
    margin: 2rem 0;
    color: var(--blue);
}

blockquote {
    margin-left: 0;
    font-style: italic;
}

/* FOOTER */
footer {
    width: 100%;
    padding: 1rem 0;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
}

#footer-container {
    width: 85%;
    margin: 0 auto;
}

footer h2 {
    font-weight: 700;
}

footer ul,
footer p {
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 1rem;
}

footer ul a {
    color: var(--blue);
    text-decoration: none;
}

footer ul a:hover {
    color: var(--blue-hover);
    text-decoration: underline;
}

@media (min-width: 800px) {

    nav,
    section,
    article,
    #footer-container {
        max-width: 760px;
        margin: 0 auto;
    }

    nav ul {
        gap: 1.3rem;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}

@media (max-width: 460px) {
    article img {
        width: 100%;
        height: auto;
        /* display: block; */
        float: none;
    }
}