:root {
    --box-shadow: 0 3px 6px rgb(0 0 0 / 0.2);
    --blue: #1b66c9;
    --blue-hover: #207ef8;
    --pinky: #FF86AB;
    --white: #FFFFFF;
    --tomato-hover: #EA4335;
    --tomato: #d20000;
    --mustard: #DECA30;
    --grey: rgba(0, 0, 0, 0.87);
    --sans: 'Helvetica Neue', Arial, sans-serif;
    --spacemono: 'Space Mono', monospace;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--spacemono);
    line-height: 2;
}

h1,
h2,
h3 {
    margin: 0;
}

/* NAVIGATION BAR */
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
    font-size: 1.2rem;
}

nav li a {
    font-family: var(--spacemono);
    display: block;
    text-decoration: none;
    color: var(--grey);
}

nav h1 a {
    font-family: var(--spacemono);
    color: var(--black);
    font-weight: 700;
}

nav h1 a:hover {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.button {
    padding: 4px 18px;
    border-radius: 6px;
    background-color: var(--tomato);
    color: white;
}

.button:hover {
    text-decoration: none;
    box-shadow: var(--box-shadow);
    background-color: var(--tomato-hover);
}

/* INTRO */
#intro .name {
    font-size: 2.5rem;
}

.name span {
    color: var(--blue);
}

#intro h2 {
    font-size: 2rem;
}

/* Projects */
#projects {
    background-color: var(--blue);
    color: white;
}

/* ABOUT */
article {
    padding: 2rem;
}

/* FOOTER */
footer {
    padding: 1rem;
    text-align: center;
}

footer ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

footer ul a {
    color: var(--blue);
    text-decoration: none;
}

footer ul a:hover {
    color: var(--blue-hover);
    text-decoration: underline;
}

footer h2 {
    font-weight: 700;
}



@media (min-width: 950px) {

    nav,
    section,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    nav ul {
        gap: 1.2rem;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }

    article {
        width: 45rem;
        margin: auto;
        padding: 2rem;
        /* text-align: justify; */
    }

    blockquote {
        text-align: center;
    }
}